<section>
	<h2>Account Resume</h2>
	<div>
	    <h3>Welcome! {{account.username}}</h2>
	    <h4><small>Your account number is: {{account.id}}, <strong>Remember it to log in!</strong></h4>
	    <p>Your balance is: {{account.balance | currency}}</p>
	    <p>Account type: <strong>{{account.account}}</strong></p>
	    <p ng-hide="account.movements.length < 10">These are are your last 10 movements of your account:</p> 
	</div>
	<div>
		<div ng-hide="account.movements.length > 0">
			<h4><small><strong>No</strong> transactions made</small></h4>
		</div>
        <div class="pull-right col-md-4" ng-show="account.movements.length > 0">
        	<form class="form-group" role="search">
                <p class="input-group">
                    <select class="form-control" ng-model="filter.type">
                    	<option value="deposit">Deposit</option>
                    	<option value="whitdraw">Whitdraw</option>
                    	<option></option>
                    </select>
                    <span class="input-group-btn">
                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </p>
            </form>
        </div>
		<table class="table table-hover">
			<tr ng-show="account.movements.length > 0">
				<td>Movement Number</td>
				<td>Date</td>
				<td>Amount</td>
				<td>Transaction Type</td>
			</tr>
			<tr ng-repeat="movements in account.movements | filter: filter.type |  orderBy:'-date' | limitTo: 10 track by $index">
				<td> <a ng-href="/resume/{{account.id}}/detail/{{movements.id}}">{{movements.id}}</a> </td>
				<td> {{movements.date | date}} </td>
				<td> {{movements.fare | currency}} </td>
				<td> {{movements.type}} </td>
			</tr>
		</table>
	<div>
	    <a ng-href="/resume/{{account.id}}/add" role="button" class="btn btn-success">Add Movement</a>
	    <a href="login" role="button" class="btn btn-danger">Log Out</a>
	</div>
</section>
