<section>
	<h2>Account Resume</h2>
	<div>
	    <h3>Welcome! {{account.username}}</h2>
	    <h4><small>Your account number is: {{account.id}}, <strong>Remember it to log in!</strong></h4>
	    <p>Your balance is: {{account.balance | currency}}</p>
	    <p>These are are your last 10 movements in your account type: <strong>{{account.account}}</strong></p>
	</div>
	<div>
		<table class="table">
			<tr>
				<td>Date</td>
				<td>Amount</td>
				<td>Account Type</td>
				<td>Detail</td>
			</tr>
			<tr ng-repeat="movements in account.movements |  orderBy:'-date' | limitTo:quantity">
				<td> {{movements.date | date}} </td>
				<td> {{movements.fare | currency}} </td>
				<td> {{movements.type}} </td>
				<td> {{movements.detail}} </td>
			</tr>
		</table>
	<div>
	    <a href="login" role="button" class="btn btn-default">Log Out</a>
	    <a ng-href="/resume/{{account.id}}/add" role="button" class="btn btn-success">Add Movement</a>
	</div>
</section>
